//
//  <%= fileName %>
//  <%= project %>
//
//  Created by <%= organization %> on <%= createtime %>.
//  Copyright © 2022 <%= organization %>. All rights reserved.
//  控制器

@import UIKit;

NS_ASSUME_NONNULL_BEGIN

@interface <%= className %> : UIViewController

@property (nonatomic, strong) NSArray *dataArray;

@end

NS_ASSUME_NONNULL_END